    body {
      margin: 0;
      padding: 0;
    }
    .cockpit-page {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .cockpit-page-content {
      flex: 1;
      padding: 0;
      margin: 0;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      display: block;
    }
